extends layout

block content
  form(class='login__container' method='post' name='form')
    label(for='user') Username:
    input(name='login' type='text')
    label(for='pass') Password:
    input(name='pass' type='password')
    input(class='login__button' type='submit' value='Login')
    if error
      div(class="login__error") #{error}